:root {
    --primario: #ffffff;
    --primariooscuro: #003ec5;
    --secundario: #ffce00;
    --secundariooscuro: #000000;
    --blanco: white;
    --negro: black;

    --fuenteprincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62,5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: var(--fuenteprincipal);
    
}
/*GLOBALES*/

main {
    margin-bottom: 1rem;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /*Interlineado*/
    width: 100%;
}

p {
font-size: 1.5rem; 
margin: 0;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
color: black;
width: 100%;
}

a { text-decoration: none; } /*sacamos subrayado enlaces*/

h1, h2, h3{
    font-family: var(--fuenteprincipal);
    text-align: center;
    color: var(--secundariooscuro);
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
}
.header__logo {
    max-width: 30rem;
}
.contenedor {
   
    margin: 0 auto;
    
}

.header {
   display: grid;
   text-align: center;
   margin: 2rem;
}
.contenedor { 
    position: relative;
    text-align: center;
}
.contenedor img {
    height: 30rem;
    width: 100%;
}
.contenedor__texto { /*junto con el texto ponemos el sombreado*/
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    
}
.contenedor__texto h3 {

    margin-top: 15rem;
}
.boton {
    text-decoration: none;
    background-color: var(--primariooscuro);
    padding: 1rem;
    color: white;
    border-radius: .5rem;    
}
.boton:hover {
    cursor: pointer;
}
 /*menu de navegacion */
.navegacion {
   background-color: var(--primariooscuro);
   flex-direction: row;
   
   z-index: 100;
   min-width: 100%; 
    
  
    
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        background-color: var(--primariooscuro);
        justify-content: center; /*centramos el contenido usando flex*/
        gap: 2rem; /*separacion*/

        position: -webkit-sticky;  /* para navegacion se mueva */
        position: sticky;
        top: 0;
        
    }
}
.navegacion__enlaces {
    color: white;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;
    
    text-align: center;   
}
.navegacion a {
    display: block;
}
.navegacion__enlaces--activo,
.navegacion__enlaces:hover { /*color al pasar arriba del enlace*/
    color: var(--secundario); 
}
/* sub menu de navegacion */
.subnavegacion {
    background-color: var(--primariooscuro);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;    
    
    
    
    
}
@media (max-width: 768px) {
    .subnavegacion {
        position: static;
    }
}
.subnavegacion__enlaces{
    padding: .5rem;
    color: white;
}
.subnavegacion a {
    display: block;
}
@media (max-width: 768px) {
    .aside{
     width: 100%;
    }
    .subnavegacion{
        width: 100%;
        margin: 0;
        text-align: center;
    }
}
/*pie de pagina*/
.footer{
    text-align: center;
    background-color: var(--primariooscuro);
    
    
}

.footer__texto {
    font-family: var(--fuenteprincipal);
    text-align: center;
    font-size: 1.5rem;
    height: 100%;
    margin-bottom: 0;
    padding: 1rem;
}
/* Productos paginas alternativas*/
.subgrid{
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
    .subgrid {
     max-width: 60rem;
    grid-template-columns: repeat(3, 1fr);
       }
}

/* PRODUCTOS*/

.grid {
    
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

}
@media (min-width: 768px) {
    .grid {
     max-width: 80rem;
    grid-template-columns: repeat(3, 1fr);
       }
}


.producto{ 
      padding: 1rem;
      text-align: center;
}
.producto__imagen{
    width: 20rem;
    height: 20rem;
    object-fit: fill;
}
.producto__detalles {
    font-size: 1.2rem;
}

.producto__codigo , .producto__talles {
    color: var(--primariooscuro);
}



/*formulario */

.formulario{
    background-color: rgb(129, 166, 221);
    margin: 0 auto;
    width: min( 60rem, 100%);
    padding: 2rem;
    border-radius: 1rem;


    
    
}

.formulario__fielset{
   border: none; 
   display: inline-block;
   width: min(55rem, 100%);
}
.formulario__titulo{
    color: var(--secundario);
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.campos label {
    display: block;

}
.input {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;    
}



@media (min-width: 480px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;        
    }
    
}
.campos:nth-child(3){  /*pocisionar elementos con grid */
    grid-column: 1/3;
}
.campos:nth-child(4){
    grid-column: 1/3;
}
